@import url('https://fonts.googleapis.com/css?family=Raleway:600|Roboto:300');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  position: relative;
  left: 10px;
  z-index: -10;
}
h2{
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 10px;
  z-index: -10;
}
h3{
  font-family: 'Raleway', sans-serif;
  position: relative;
  left: 10px;
  z-index: -10;
}
.title{
  color: #000000;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background-color: #000000;
  border: 10px solid #000000;
}
a{
  text-decoration: none;
  color: #000000;
}
.pictures{
  position: relative;
  left: 10px;
  z-index: 0;
}
.images{
  position:relative;
  left: 1%;
  width: 96vw;
  height: auto;
  z-index: -99;
}
.dualimgl{
  position: relative;
  left: 1%;
  width: 47vw;
  height: auto;
    z-index: -99;
}
.dualimgr{
  position: relative;
  left: 2%;
  width: 47vw;
  height: auto;
    z-index: -99;
}
.imgc{
  position: relative;
  left: 28%;
  width: 47vw;
  height: auto;
  z-index: -99;
}
.text{
  text-indent: 2em;
  padding: 10px;
  z-index: -10;
}
ul{
  padding: 10px;
  z-index: -10;
}
